<!DOCTYPE html>
<html>
<head>
  <title>Revisionhub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "etherpad" %>
  <%= csrf_meta_tags %>
</head>
<%= user_data_attributes('body') %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
