<!DOCTYPE html>
<html>
<head>
  <title>Revisionhub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "etherpad" %>
  <%= csrf_meta_tags %>
</head>
<body>
    HEY

<%= yield %>

</body>
</html>
