<!DOCTYPE html>
<html>
<head>
  <title>RevisionHub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "screen" %>
  <%= stylesheet_link_tag "slide" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "etherpad" %>
  <%= csrf_meta_tags %>
  
  <link rel="shortcut icon" href="<%= image_path("favicon.ico") %>">

  <script type="text/javascript" charset="utf-8">
	RevisionHub = {};
  	RevisionHub.urls = {
		root_url: '<%= root_url %>',
		searches_path: '<%= searches_path %>'
	};
  </script>
</head>
<%= user_data_attributes('body') %>
    <p class="notice"><%= notice %></p>


    <p class="alert"><%= alert %></p>

    <div id="container">
        <div id="toppanel">
            <div id="panel">
                <div class="content clearfix">
                    <div class="left">
                        <h1>Welcome to RevisionHub</h1>
                        <h2>It's just plain BONER-IFIC</h2>

                        <p class="grey">You can search through stuff without logging in, but for submitting you'll need an account.</p>
                    </div>

                    <div class="left">
                        <%= render :template => "devise/sessions/new" %>
                    </div>

                        <div class="left right">
                            <!-- Register Form -->
                            <%= render :template => "devise/registrations/new" %>
                            <!-- /Registration Form -->
                        </div>
                    </div>
                </div><!--/ hidden panel-->

                <!--top tab-->
                	<div class="tab">
		
                        <ul class="login">
                            <li class="left">&nbsp;</li>
                            <li id="guestmessage">Hello Guest!</li>
                            <li class="sep">|</li>
                            <li id="toggle">
                                <% if user_signed_in? %>
                                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                                <% else %>
                                    <a id="open" class="open" href="#">Log In | Register</a>
                                <% end %>
                                <a id="close" style="display: none;" class="close" href="#">Close Panel</a>			
                            </li>
                            <li class="right">&nbsp;</li>
                        </ul>
                    
                    </div> 
                </div><!-- /Panel-->

                <div id="wrapper">
                    <div id="header">
                        <a href="/"><img id="logo" src="<%= image_path("logo.png") %>" alt="RevisionHub" />
                        <span class="hidden">RevisionHub</span></a>
                    </div>


                    <div id="content">
                    	<p id="standfirst">Easy, simple &amp; sexy online lecture notes collaboration &amp; revision tool.</p>
						<%= yield %>
                    </div>
                </div>
                <div id="bottom">
                    <p class="copyright">RevisionHub is a product of <a href="http://devxs.org">DevXS 2011</a> 
                    and was fully designed and developed by 
                    <a href="http://twitter.com/Jack_Franklin">Jack Franklin</a>, 
                    <a href="http://twitter.com/JamieRumbelow">Jamie Rumbelow</a>, 
                    <a href="http://twitter.com/maxbatsurin">Max Batsurin</a>, 
                    <a href="http://twitter.com/amazingzeesh">Zeeshan Ahmed</a> and 
                    <a href="http://twitter.com/aaronforward">Aaron "The Boner" Forward</a> 
                    in just over 24 hours.</p>
                </div>

        </div>

</body>
</html>
